
div.data
{
    color: black;
    text-align:right ;
    line-height: 60px;
    width: 850px;
    height: 500px;
    top: 90px;
}
body
{
font-size: large;
}
.dinner-form
{
    background-image: url("table.jpg");  
    width: 920px ;
    margin: 30px auto;
    border-radius: 100px;
}
mark
{
background-color: peachpuff;
color:black;
}

